.container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.payment-form {
    background: #eeeeee;
    padding: 2px;
    border-radius: 8px;
    width: 300px;
}

.payment-btn {
    background: white;
    color: black;
    border-radius: 8px;
    margin-top: 8px;
    padding: 8px 16px;
    cursor: pointer;
    transition: all .3s;
}

.payment-btn:hover {
    background: black;
    color: white;
}

.payment-form-text {
    margin-top: 8px;
}
