* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

.navbar {
    background-color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
    position: sticky;
}

.navbar-brand a {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    height: 80px;
    width: 180px;
}

.navbar-nav {
    list-style: none;
    display: flex;
}

.nav-item {
    position: relative;
}

.nav-item a, .nav-item select {
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    background-color: #fff;
    border: none;
}

.nav-item a:hover, .nav-item select:hover {
    background-color: #ded9ca;
}

.dropdown {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 10px;
    font-size: 16px;
}

.dropdown option {
    background-color: #fff;
    color: #333;
}


#search-category {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding-bottom: 5px;
    background-color: #fff;
    border-radius: 10px;
}

.category {
    margin-right: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color: #fff;
}

.condition {
    margin-right: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color: #fff;
}

.search-box {
    display: flex;
    align-items: center;
}

.search-box form {
    display: flex;
    align-items: center;
}

.search-txt {
    padding: 10px;
    margin-right: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
}

.search-btn {
    padding: 5px 10px;
    margin-left: 10px;
    margin-right: 5px;
    border: none;
    background-color: #ded9ca;
    color: #fff;
    font-size: 16px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.search-btn:hover {
    background-color: #ded9ca;
}

/* class container */

/* class items/index.blade card */

.card {
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, .16);
    color: #212121;
    text-decoration: none;
    width: 500px;
    /* margin: 0 auto;  */
}

.card__header {
    /* display: flex; */
    flex-wrap: wrap;
    margin: 0 auto;
}

.card__title {
    padding: 1rem 1rem 0;
    font-size: 1.25rem;
    order: 1;
}

.card__thumbnail {
    object-fit: scale-down;
    width: 450px;
    margin: 0;
    order: 0;
}

.card__image {
    width: 100%;
    margin: 0 auto;
}

.card__body {
    padding: 1rem;
}

.card__text {
    font-size: .75rem;
}

.card__text + .card__text {
    margin-top: .5rem;
}

.card__text.-number {
    text-align: right;
}

.card__footer {
    padding: 1rem;
    border-top: 1px solid #ddd;
}

/* items/create.blade edit form */

.create-h1 {
    margin-left: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container-create {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.create-form dl {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.create-form dt, .create-form dd {
    width: 100%;
    margin-bottom: 10px;
}

.create-form dt {
    font-weight: bold;
    font-size: 24px;
    margin-top: 10px;
}

.create-form input[type="text"],
.create-form input[type="number"],
.create-form textarea,
.create-form select {
    width: 80%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 10px;
}

.create-form textarea {
    resize: vertical;
}

.create-form input[type="file"] {
    display: none;
}

.image-picker {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}


/* 버튼 스타일 */
.create-form button[type="submit"] {
    width: 20%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.create-form button[type="submit"]:hover {
    background-color: #555;
}
