/* 初期化 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}


body {
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
        "Hiragino Sans", Meiryo, sans-serif;
}

/* 初期化 end */

/* header nav bar start*/

.navbar {
    background-color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.16);
}

.navbar-brand a {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    height: 80px;
    width: 180px;
}

.navbar-nav {
    list-style: none;
    display: flex;
}

.nav-item {
    position: relative;
}

.nav-item a,
.nav-item select {
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    background-color: #fff;
    border: none;
    border-radius: 8px;
}

.nav-item a:hover,
.nav-item select:hover {
    background-color: #ded9ca;
    transition: all 0.3s;
}

.dropdown {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.dropdown option {
    background-color: #fff;
    color: #333;
}

/* search bar start */
#search-category {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding-bottom: 5px;
    background-color: #fff;
    border-radius: 10px;
}

.check-box{
    margin-right: 10px;
    border-radius: 5px;
    padding: 11px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 12px;
    background-color: #fff;
    cursor: pointer;
}

.check-box-input{
    padding: 8px;
    margin-top: 15px;
}


.category {
    margin-right: 15px;
    border-radius: 5px;
    width: 170px;
    height: 40px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 12px;
    background-color: #fff;
    cursor: pointer;
}

.condition {
    margin-right: 7px;
    border-radius: 5px;
    width: 170px;
    height: 40px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 12px;
    background-color: #fff;
    cursor: pointer;
}

.search-box {
    display: flex;
    align-items: center;
}

.search-box form {
    display: flex;
    align-items: center;
}

.search-txt {
    width: 180px;
    height: 40px;
    margin-right: 7px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 12px;
}

.search-btn {
    width: 50px;
    height: 40px;
    margin-left: 7px;
    margin-right: 7px;
    border: none;
    background-color: #ded9ca;
    color: #fff;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.search-btn:hover {
    background-color: #ded9ca9d;
}

/* search bar end */


/* class container start */

/* class container end */


/* class items/index.blade card start */

.card {
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.16);
    color: #212121;
    text-decoration: none;
    width: 300px;
    box-shadow: #333;
    /* margin: 0 auto;  */
}

.card:hover {
    background: #dddddd;
    transition: all 0.3s;
}

.card__header {
    /* display: flex; */
    /* flex-wrap: wrap; */
    width: 300px;
}

.card__title {
    padding: 1rem 1rem 0;
    font-size: 1.25rem;
    order: 1;
}

/* .card__thumbnail {
    object-fit: scale-down;
    width: 300px;
    margin: 0;
    order: 0;
} */

.card__image {
    width: 100%;
    margin: 0 auto;
}

.card__body {
    padding: 1rem;
}

.card__text {
    font-size: 0.75rem;
}

.card__text + .card__text {
    margin-top: 0.5rem;
}

.card__text.-number {
    text-align: right;
}

.card__footer {
    padding: 1rem;
    border-top: 1px solid #ddd;
}

/* class items/index.blade card end */


/* items/create.blade edit form start */

.create-h1 {
    margin-left: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container-create {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.create-form dl {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.create-form dt,
.create-form dd {
    width: 100%;
    margin-bottom: 10px;
}

.create-form dt {
    font-weight: bold;
    font-size: 24px;
    margin-top: 10px;
}

.create-form input[type="text"],
.create-form input[type="number"],
.create-form textarea,
.create-form select {
    width: 80%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 10px;
}

.create-form textarea {
    resize: vertical;
}

.create-form input[type="file"] {
    display: none;
}

.image-picker {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.create-form button[type="submit"] {
    width: 20%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.create-form button[type="submit"]:hover {
    background-color: #555;
}
/* items/create.blade edit form end */


/* 商品一覧グリッドレイアウト */
.grid-wrapper {
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    gap: 80px;
    margin-top: 32px;
}

/* ページネーション */
.pagination {
    display: flex;
    justify-content: center;
    margin: 16px 0;
}

.pagination li {
    text-decoration: none;
    list-style: none;
    font-size: 20px;
}

.page-link {
    margin: 0 4px;
}

/* 出品商品一覧グリッドレイアウト */
.sold-items-grid-wrapper {
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    gap: 80px;
    margin-top: 32px;
}

.sold-item {
    width: 300px;
}
