body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 250px;
    background-color: #f4f4f4;
    padding: 20px;
    box-sizing: border-box;
}

.sidebar h1 {
    font-size: 24px;
    margin-bottom: 30px;
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 20px 0;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    padding: 10px;
    display: block;
    border-radius: 5px;
}

.sidebar nav ul li a:hover {
    background-color: #e0e0e0;
}

.main-content {
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.profile-wrapper {
    max-width: 600px;
    width: 100%;
    /* justify-content: center; */
    margin: 0 auto;
    flex-grow: 1;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.center {

}

.profile-wrapper h1 {
    font-size: 28px;
    margin-bottom: 10px;
    text-align: center;
}

.profile-wrapper h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #666;
    text-align: center;
}

.profile {
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin: 10px 0 5px;
    font-size: 16px;
    width: 100%;
    text-align: left;
}

input, textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}

textarea {
    height: 100px;
}

button {
    margin-top: 10px;
    margin-left: 185px;
    padding: 8px 25px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    align-self: flex-start;
    margin-top: 10px;
}

button:hover {
    background-color: #333;
}

table {
    border-collapse: collapse;
    border: 0;
  }

th, td {
    border: 1px solid #aaa;
    background-clip: padding-box;
    scroll-snap-align: start;
  }

tbody tr:last-child th, tbody tr:last-child td {
    border-bottom: 0;
  }

thead {
    z-index: 1000;
    position: relative;
  }

  th, td {
    padding: 0.6rem;
    min-width: 6rem;
    text-align: left;
    margin: 0;
  }

thead th {
    position: sticky;
    top: 0;
    border-top: 0;
    background-clip: padding-box;
  }

  thead th.pin {
    left: 0;
    z-index: 1001;
    border-left: 0;
  }

  tbody th {
    background-clip: padding-box;
    border-left: 0;
  }

  tbody {
    z-index: 10;
    position: relative;
  }

  tbody th {
    position: sticky;
    left: 0;
  }

  thead th, tbody th {
    background-color: #f8f8f8;
  }
