body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

.container {
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: #f4f4f4;
    padding: 20px;
    box-sizing: border-box;
}

.sidebar h1 {
    font-size: 24px;
    margin-bottom: 30px;
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 20px 0;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    padding: 10px;
    display: block;
    border-radius: 5px;
}

.sidebar nav ul li a:hover {
    background-color: #e0e0e0;
}

.main-content {
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.profile-wrapper {
    max-width: 600px;
    width: 100%;
    /* justify-content: center; */
    margin: 0 auto;
    flex-grow: 1;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.profile-wrapper h1 {
    font-size: 28px;
    margin-bottom: 10px;
    text-align: center;
}

.profile-wrapper h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #666;
    text-align: center;
}

.profile {
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin: 10px 0 5px;
    font-size: 16px;
    width: 100%;
    text-align: left;
}

input, textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}

textarea {
    height: 100px;
}

button {
    margin-top: 10px;
    margin-left: 185px;
    padding: 8px 25px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    align-self: flex-start;
    margin-top: 10px;
}

button:hover {
    background-color: #333;
}

.card-mypage{
    width:300px;
    gap:24px;
    border:1px solid #ebeaec;
    box-shadow:0px 2px 4px rgba(0,0,0,0.3);
    border-radius:16px;
    padding:24px;
 }

 .brand-img img {
    width: 200px;
    height: 100px;
 }
