html,
body,
.container {
    min-height: 100vh;
}

body {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin: 0;
    padding: 0;
}

/* side menu start --> layouts/side.blade.php */

.container {
    display: flex;
}

.brand-img img {
    width: 200px;
    height: 100px;
}

.sidebar {
    width: 250px;
    background-color: #f4f4f4;
    padding: 20px;
    box-sizing: border-box;
    position: sticky;
    left: 0;
    top: 0;
}

.sidebar h1 {
    font-size: 24px;
    margin-bottom: 30px;
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 20px 0;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    padding: 10px;
    display: block;
    border-radius: 5px;
}

.sidebar nav ul li a:hover {
    background-color: #e0e0e0;
}

.brand-img img {
    width: 200px;
    height: 100px;
}

/* side menu end --> layouts/side.blade.php */

/* body main start --> layouts/side.blade.php */

.main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* body main end --> layouts/side.blade.php */
.grow {
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: space-between;
}

/* mypage index profile start --> /mypage.index */

.profile-wrapper {
    max-width: 40vw;
    width: 100%;
    /* justify-content: center; */
    margin: 0 auto;
    flex-grow: 1;
    align-items: center;
    padding: 20px;
}

.profile-wrapper h1 {
    font-size: 28px;
    margin-bottom: 10px;
    text-align: center;
}

.profile-wrapper h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #666;
    text-align: center;
}

.profile {
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin: 10px 0 5px;
    font-size: 16px;
    width: 100%;
    text-align: left;
}

input,
textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}

textarea {
    height: 100px;
}

button {
    margin-top: 10px;
    margin-left: 185px;
    padding: 8px 25px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    align-self: flex-start;
    margin-top: 10px;
}

button:hover {
    background-color: #333;
}


/* いいね！購入、出品一覧 start */

.grid-wrapper {
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2vw;
    margin-top: 32px;
}

.card {
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.16);
    color: #212121;
    text-decoration: none;
    width: 20vw;
    box-shadow: #333;
    margin-left: 2vw;
}

.card:hover {
    background: #dddddd;
    transition: all 0.3s;
    transform: translateY(-10px);
}

.card__header {
    /* display: flex; */
    /* flex-wrap: wrap; */
    width: 20vw;
}

.card__title {
    padding: 1rem 1rem 0;
    font-size: 1.25rem;
    order: 1;
}

/* .card__thumbnail {
    object-fit: scale-down;
    width: 300px;
    margin: 0;
    order: 0;
} */

.card__image {
    width: 100%;
    margin: 0 auto;
    object-fit: cover;
    width: 95%;
    height: 95%;
}

.card__body {
    padding: 1rem;
}

.card__text {
    font-size: 0.75rem;
}

.card__text + .card__text {
    margin-top: 0.5rem;
}

.card__text.-number {
    text-align: right;
}

.card__footer {
    padding: 1rem;
    border-top: 1px solid #ddd;
}

